header {
    background-color: #0a76e9;
    text-align: center;
    color: aliceblue;
}
p {
    background-color: #ffffff;
    color: #0919f0;
}
h2 {
    background-color: #df2020;
    color: #0cce19;
}
h3 {
    background-color: #ffffff;
    color: #5b036c;
}
h1 {
    background-color: #175fc5;
    color: #ffffff;
    text-align: center;
}
